name: CI Tests pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-cov

    - name: Start service
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/scaler_ass_2
        python scaler_ass_2/src/process_manager.py &
        # Wait for the port to open
        sleep 5
        
        # Verify the server is actually alive (Health Check)
        curl -f http://127.0.0.1:8000/admin/stats || exit 1

    - name: Run tests
      run: |
        cd scaler_ass_2
        pytest tests/ -v --tb=short --junit-xml=test-results.xml
      env:
        BASE_URL: "http://127.0.0.1:8000/docs"

    - name: Upload results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: scaler_ass_2/test-results.xml
        if-no-files-found: ignore

